<h2><%= @restaurant.name  %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p>To edit restaurant, <%= link_to 'click here', edit_restaurant_path %></p>
<p>To go back to home, <%= link_to 'click here', restaurants_path %></p>
